<%- include('../partials/header'); -%>

<div class="container">
    
    <header class="jumbotron">
        
        <div class="container">
            
            <h3>Welcome to Stige Assessment test</h3>
            <p class="detail">There will be 5 Mcqs</p>
            <p class="detail">Every question has 4 options</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Take a Assessment test</a>
            </p>

        </div>
        
    </header>
    
</div>
   
<%- include('../partials/footer'); -%>